.admin-confirm-visible {
    display: flex;
}

.admin-confirm-invisible {
    display: none;
}

#admin-confirm {
    width: 30vw;
    height: 20vh;
    background-color: #FFF6F5;
    position: fixed;
    z-index: 1;
    box-shadow: 0 12px 6px rgba(0, 0, 0, 0.75); 
    border: thin solid black;
    flex-direction: column;
    justify-content: space-between;
}

#admin-confirm > h4 {
    margin-top: 3vw;
}