#contact-box {
    height: 70vh;
    width: 80vw;
    background-color: rgba(247, 246, 242, 0.88);
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.5);
    margin: 50px 0 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

#contact-box-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 150px 50px 100px 50px;
}