#navbar {
    width: 100vw;
    height: 100px;
    background-color: #FFF6F5;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#links {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3vw;
}

#header-logo-link { 
    margin-left: 6vw;
}

#header-logo {
    height: 85px;
    width: auto;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 700px) {
    #navbar {
        height: 75px;
    }

    #header-logo {
        height: 60px;
    }

    #header-logo-link { 
        margin-left: 3vw;
    }

    .navbar-link > h4{
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    #links {
        width: 70vw;
    }

    #header-logo {
        height: 40px;
    }
}