.slider-dot-open {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 6px 0 6px;
    border: 3px solid black;
}

.slider-dot-closed {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 6px 0 6px;
    background-color: black;
}

.arrow-container {
    max-width: 50px;
    height: 80px;
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-container:hover {
    cursor: pointer;
}

.arrow-point {  
    width: 50px;
    height: 4px;
    background-color: black;
}

.arrow-point-up {
    transform: rotate(-45deg);
}

.arrow-point-down {
    transform: rotate(45deg);
}

.arrow-bottom {
    margin-top: 29px;
}

.slider-fade {
    opacity: 0;
    transition-duration: 0.5s;
    transform: scale(0.8);
}

.slider-unfade {
    opacity: 1;
    transition-duration: 1s;
}


#slider {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#slider-text {
    text-align: center;
    margin: 2vh 0 2vh 0;
}

#slider-responsive-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider-image-container {
    height: 50vh;
    width: 40vw;
    background-color: rgba(247, 246, 242, 0.88);
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-image {
    height: 40vh;
    width: auto;
    max-width: 35vw;
}

#dot-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-height: 900px) {
    #slider {
        height: 70vh;
    }
}

@media screen and (max-width: 700px) {
    #slider-image-container {
        width: 75vw;
        height: 40vh;
    }

    #slider-image {
        width: auto;
        max-width: 60vw;
        height: 30vh;
    }

    #slider-responsive-container {
        height: 55vh;
    }

    .arrow-container {
        max-width: 30px;
        margin: 0 3vw 0 3vw;
        height: 60px;
    }

    .arrow-bottom {
        margin-top: 15px;
    }
  }